/**
 *
 *
 * ALIGNMENT
 *
 */

/* to be used in the parent element so the children will be aligned */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.is-vertical-centered {
    align-self: center;
}

.is-flex {
    display: flex;
}

.has-max-height-carousel {
    max-height: 400px;
}

/**
 * 
 *
 * VISUAL EFFECTS
 *
 */

/* There are two different effects to resize an element */
.has-effect-resize-1 {
    transition: all 0.2s;
}

    .has-effect-resize-1:hover {
        transform: scale(1.03);
    }

.has-effect-resize-2 {
    transition: all 0.2s;
}
    
    .has-effect-resize-2:hover {
        transform: scale(1.25);
    }


/**
 *
 *
 * SPECIFIC SECTIONS & ELEMENTS
 *
 */

/* Hero */
#hero-bg-img {
    background-image: url('../assets/img/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.92;
}

/**
 *
 *
 * HELPERS for Margin and Padding
 *
 */

/* Margin */
.mx { margin: auto; }
.mt-1 { margin-top: 0.5rem; }
.mt-2 { margin-top: 1rem; }
.mt-3 { margin-top: 1.5rem; }
.mt-4 { margin-top: 2rem; }
.mt-5 { margin-top: 2.5rem; }
.mb-1 { margin-bottom: 0.5rem; }
.mb-2 { margin-bottom: 1rem; }
.mb-3 { margin-bottom: 1.5rem; }
.mb-4 { margin-bottom: 2rem; }
.mb-5 { margin-bottom: 2.5rem; }
.mr-1 { margin-right: 0.5rem; }
.mr-2 { margin-right: 1rem; }
.mr-3 { margin-right: 1.5rem; }
.mr-4 { margin-right: 2rem; }
.mr-5 { margin-right: 2.5rem; }
.ml-1 { margin-left: 0.5rem; }
.ml-2 { margin-left: 1rem; }
.ml-3 { margin-left: 1.5rem; }
.ml-4 { margin-left: 2rem; }
.ml-5 { margin-left: 2.5rem; }

/* Padding */
.pt-1 { padding-top: 0.5rem; }
.pt-2 { padding-top: 1rem; }
.pt-3 { padding-top: 1.5rem; }
.pt-4 { padding-top: 2rem; }
.pt-5 { padding-top: 2.5rem; }
.pb-1 { padding-bottom: 0.5rem; }
.pb-2 { padding-bottom: 1rem; }
.pb-3 { padding-bottom: 1.5rem; }
.pb-4 { padding-bottom: 2rem; }
.pb-5 { padding-bottom: 2.5rem; }
.pr-1 { padding-right: 0.5rem; }
.pr-2 { padding-right: 1rem; }
.pr-3 { padding-right: 1.5rem; }
.pr-4 { padding-right: 2rem; }
.pr-5 { padding-right: 2.5rem; }
.pl-1 { padding-left: 0.5rem; }
.pl-2 { padding-left: 1rem; }
.pl-3 { padding-left: 1.5rem; }
.pl-4 { padding-left: 2rem; }
.pl-5 { padding-left: 2.5rem; }

.has-max-height {
    max-height: 70vh;
}